@{
    ViewData["Title"] = "Editar aluno";
}
@model EM.Domain.ProjetoEM.EM.Domain.Aluno


<h4>Editar aluno</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" class="form-control">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Matricula" />
            <div class="form-group">
                <label asp-for="Matricula" class="control-label"></label>
                <input readonly asp-for="Matricula" class="form-control" />
                <span asp-validation-for="Matricula" class="text-danger"></span>

                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>

                <label for="sexo">Sexo</label>
                <select name="sexo" class="form-control">
                    <option value="Masculuno">Masculuno</option>
                    <option value="Feminino">Feminino</option>
                </select>

                <label asp-for="CPF" class="control-label"></label>
                <input type="number" asp-for="CPF" class="form-control" />
                <span asp-validation-for="CPF" class="text-danger"></span>

                <label asp-for="Nascimento" class="control-label"></label>
                <input type="date" asp-for="Nascimento" class="form-control" />
                <span asp-validation-for="Nascimento" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-light">Voltar</a>
            </div>
        </form>
    </div>
</div>

<h1>@ViewBag.Mensagem</h1>